<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="inventoryRepository" class="com.capgemini.sample.sf.inventory.InMemoryInventoryRepository"/>
    <bean name="inventoryEventPublisher" class="com.capgemini.sample.sf.inventory.InventoryLoggingEventPublisher"/>
    <bean name="inventoryFacade" class="com.capgemini.sample.sf.inventory.InventoryFacade">
        <constructor-arg name="repository" ref="inventoryRepository"/>
        <constructor-arg name="publisher" ref="inventoryEventPublisher"/>
        <!--                <constructor-arg index="0" ref="inventoryRepository"/>-->
        <!--                <constructor-arg index="1" ref="inventoryEventPublisher"/>-->
    </bean>

</beans>
